# -------------------------------------------------------------------------------------------------------------------- #
# GENERAL SETTINGS
# -------------------------------------------------------------------------------------------------------------------- #

export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='MARIADB'
export BACKEND='MYSQL'
export MYSQL_ROOT_PASSWD='pa$$word'
export FIRST_DOMAIN='example.com'
export DOMAIN_ADMIN_PASSWD_PLAIN='pa$$word'
# export MLMMJADMIN_API_AUTH_TOKEN=''
export SOGO_SIEVE_MASTER_PASSWD='pa$$word'

# -------------------------------------------------------------------------------------------------------------------- #
# INSTALL APPS
# -------------------------------------------------------------------------------------------------------------------- #

export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_FAIL2BAN='YES'

# -------------------------------------------------------------------------------------------------------------------- #
# DATABASE USERS
# -------------------------------------------------------------------------------------------------------------------- #

export VMAIL_DB_BIND_PASSWD='pa$$word' # Password for user 'vmail'.
export VMAIL_DB_ADMIN_PASSWD='pa$$word' # Password for user 'vmailadmin'.
export NETDATA_DB_PASSWD='pa$$word' # Password for user 'netdata'.
export AMAVISD_DB_PASSWD='pa$$word' # Password for user 'amavisd'.
export IREDADMIN_DB_PASSWD='pa$$word' # Password for user 'iredadmin'.
export RCM_DB_PASSWD='pa$$word' # Password for user 'roundcube'.
export SOGO_DB_PASSWD='pa$$word' # Password for user 'sogo'.
export IREDAPD_DB_PASSWD='pa$$word' # Password for user 'iredapd'.
export FAIL2BAN_DB_PASSWD='pa$$word' # Password for user 'fail2ban'.
#EOF
